<head>
</head>
<body>
  <script src="/static/add.js">
  </script>
  <div class="viewArea">

    {{#each numbers}}
      <button disabled="true">
        {{name}}
        {{number}}</button>
      <br />

    {{/each}}

  </div>
  <div>
    <form id="Add">
      <input type="text" name="name" maxlength="40" />
      <input type="text" name="number" maxlength="15" />
    </form>
    <input type="button" onclick="add()" value="Add"/>
    {{> cancelButton}}
  </div>
</body>
