<head>
</head>
<body>
  <script src="/static/add.js">
  </script>
  <div>

    {{#each numbers}}
      <a> 
        {{name}}
        {{number}}</a>
      <br />

    {{/each}}

  </div>
  <div>
    <form id="Add">
      <input type="text" name="name" maxlength="40" />
      <input type="text" name="number" maxlength="15" />
    </form>
    <input type="button" onclick="add()" value="Добавить"/>
    {{#cancelButton}}{{/cancelButton}}
  </div>
</body>
