<!DOCTYPE html>
<head>
</head>
<body>
    {{#each numbers}}
      <a href='update/{{name}}/{{number}}' style="text-decoration:none; color:black;" >
        {{name}}
        {{number}}</a>
      <br />

    {{/each}}

  </div>
  <div>
    <a href="add" style="text-decoration:none; color:black;" >Добавить</a>
  </div>
</body>
